<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Oauth2 client application</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-success">
                <span><strong>You logged in using Oauth2 authorization as </strong></span>
                <span id="logged" th:text="${name}"></span>
            </p>
            <p class="text-center">
                <a href="/logout">Logout</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
